streamlit
python-dotenv
torch
torchvision
pillow
wikipedia-api
langchain
langchain-community
langchain-core
langchain-huggingface
langchain-groq
faiss-cpu
sentence-transformers
typing-extensions
